<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="PageRenderMode" />
    <style>
        .google-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            color: #757575;
            border: 1px solid #dadce0;
            border-radius: 4px;
            font-family: 'Roboto', Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            padding: 10px 12px;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0,0,0,0.08);
            transition: background-color 0.3s, box-shadow 0.3s;
            text-decoration: none;
            max-width: 240px;
            width: 100%;
        }

            .google-btn:hover {
                background-color: #f8f9fa;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12);
            }

            .google-btn:active {
                background-color: #f1f3f4;
            }

        .google-icon {
            margin-right: 10px;
            width: 18px;
            height: 18px;
        }



        .google-icon {
            width: 16px;
            height: 16px;
        }



    </style>
    <script>
        window.downloadFileFromBase64 = (fileName, base64Data) => {
            const link = document.createElement('a');
            link.href = `data:application/pdf;base64,${base64Data}`;
            link.download = fileName;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>
</head>

<body>
    <Routes @rendermode="PageRenderMode" />


    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script src=@Assets["_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"]></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
